.border-white {
  border: 1px solid white;
}

.nav-list-item {
  display: flex;
  align-items: center;
  height: 50px;
}

.nav-list-item span {
  width: 170px;
  text-transform: capitalize;
}
.nav-list-open .nav-list-item :hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: white;
}
